/Speeducation/apps/maestros/migrations
/Speeducation/apps/alumnos/migrations
/Speeducation/.idea/.name
/Speeducation/.idea/modules.xml
/Speeducation/.idea/Speeducation.iml
/Speeducation/.idea/misc.xml
/Speeducation/.idea/workspace.xml
/Speeducation/.idea/vcs.xml
/Speeducation/.idea
# Created by .ignore support plugin (hsz.mobi)
