{% extends 'base/base.html' %}

{% block content %}
    <h1 class="page-header">Linea: {{ linea.nombre }}</h1>
    <a class="btn btn-sm btn-primary pull-right" href="/linea/{{ linea.pk }}/actividad/agregar" role="button">Agregar Nueva Actividad</a>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Descripcion</th>
                  <th>Last Update</th>
                </tr>
              </thead>
              <tbody>

                {% for actividad in actividades %}
                    <tr>
                        <td>{{ actividad.descripcion }}</td>
                        <td>{{ actividad.updated }}</td>
                        <td><a class="btn btn-sm btn-primary" href="{{ url }}actividad/{{ actividad.pk }}/editar" role="button">Editar</a></td>
                        <td><a class="btn btn-sm btn-primary" href="{{ url }}actividad/{{ actividad.pk }}/eliminar" role="button">Eliminar</a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock %}