{% extends 'maestros/base.html' %}

{% block post_maestros %}
    <h1 class="page-header">Dashboard</h1>
    <a class="btn btn-sm btn-primary pull-right" href="/maestro/agregar/" role="button">Agregar Un Maestro</a>
    {% if user.is_authenticated %}
    <h2 class="sub-header">{{ user.first_name }}</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Email</th>
                  <th>Genero</th>
                  <th>Last Updated</th>
                </tr>
              </thead>
              <tbody>
                {% for maestro in maestros %}
                    <tr>
                      <td>{{ maestro.username }}</td>
                      <td>{{ maestro.nombre }}</td>
                      <td>{{ maestro.apellidos }}</td>
                      <td>{{ maestro.email }}</td>
                      <td>{{ maestro.genero }}</td>
                      <td>{{ maestro.updated }}</td>
                      <td><a class="btn btn-sm btn-primary" href="/maestro/{{ maestro.pk }}/editar" role="button">Editar</a></td>
                      <td><a class="btn btn-sm btn-primary" href="/maestro/{{ maestro.pk }}/" role="button">Perfil</a></td>
                      <td><a class="btn btn-sm btn-primary" href="/maestro/{{ maestro.pk }}/eliminar" role="button">Eliminar</a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    {% endif %}
{% endblock %}
