{% extends 'base/base.html' %}

{% block content %}
    <h1 class="page-header">Dashboard</h1>
    <a class="btn btn-sm btn-primary pull-right" href="/maestro/agregar/" role="button">Agregar Un Maestro</a>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Email</th>
                  <th>Genero</th>
                  <th>Last Updated</th>
                </tr>
              </thead>
              <tbody>
                {% for maestro in maestros %}
                    <tr>
                      <td>{{ maestro.user.username }}</td>
                      <td>{{ maestro.user.first_name}}</td>
                      <td>{{ maestro.user.last_name }}</td>
                      <td>{{ maestro.user.email }}</td>
                      <td>{{ maestro.sexo }}</td>
                      <td>{{ maestro.updated }}</td>
                      <td><a class="btn btn-sm btn-primary" href="/maestro/{{ maestro.pk }}/editar" role="button">Editar</a></td>
                      <td><a class="btn btn-sm btn-primary" href="/maestro/{{ maestro.pk }}/" role="button">Perfil</a></td>
                      <td><a class="btn btn-sm btn-primary" href="/maestro/{{ maestro.pk }}/eliminar" role="button">Eliminar</a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock %}
