.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}

.middle {
    display: table-cell;
    vertical-align: middle;

}

.inner {
    margin-left: auto;
    margin-right: auto;
}
